.pagination-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;         
  padding: 20px 0;    
}

.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;        
  height: 45px;
  font-size: 16px;    
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; 
  transition: all 0.5s ease;
}

.pagination-button:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}


.pagination-button-active {
  align-items: center;
  justify-content: center;
  width: 45px;       
  height: 45px;
  font-size: 16px;    
  cursor: pointer;
  background-color: rgba(4, 107, 190, 0.8);
  color: white;
  font-weight: bold;
  transform: scale(1.2);
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin: auto 5px auto 5px;
}
