.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Change min-height to height to lock the view */
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 20px;
}

.type-header,
.active-filter {
    display: flex;
    align-items: center;
    background: white;
    border: 1px outset #33333381;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
    /* Scaled down from 1.5rem for better fitting */
    cursor: pointer;
    transition: all 0.2s ease;
}

.active-filter {
    background: #e00000;
    color: white;
    border-color: #a00000;
}

.types-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 20px;
}

/* 3. Search Bar Styling */
.search {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    width: 100%;
    max-width: 500px;
}

.search input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.1rem;
    padding: 5px;
}

.search button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.search button:hover {
    transform: scale(1.1);
    background: #e00000;
}

.search button img {
    width: 20px;
    filter: invert(1);
    /* Makes search icon white */
}

.content-section {
    display: 'flex';
    position: 'relative';
    min-width: '100%';
    align-items: 'flex-start';
    flex: 1;
    flex-grow: 1;
    overflow-y: 'auto';
    min-height: '100%';
}

.container-pokemons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    max-width: 1200px;
}

.selected-pokemon {
    position: sticky;
    right: o;
    top: 0;
    margin: 20px auto 0px auto;
}